
  <% if @current_challenge %>

    <section>
      <% if @user_register_challenge.registered? %>
        <h1><%= @current_challenge.title %></h1>
          <% if @current_user.submitted_for_challenge?(@current_challenge) %>
            <%= link_to('Manage your entry', challenge_manage_entry_edit_path, class: 'btn btn-info') %>
          <% else %>
            <%= link_to('Submit your entry', challenge_manage_entry_edit_path, class: 'btn btn-success') %>
          <% end %>
        <% else %>

        <%= link_to('See Current Challenge Title >>', new_challenge_registration_path) %>
      <% end %>
    </section>
  <% else %>
     <h1>Uh oh!  Looks like Administration forgot to schedule a current challenge!</h1>
  <% end %>

  <% @ended_challenges.each do |challenge| %>
    <section>
      <h2><%= challenge.title %></h2>
    </section>
  <% end %>

