<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>


<p>
  <strong>Description:</strong>
  <%= @page.body %>
</p>

<%= link_to 'Back', admin_manage_pages_path %> | <%= link_to 'Edit', edit_admin_manage_page_path(@page) %>