<p id="notice"><%= notice %></p>

<h1>Listing Admin Challenges</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.title %></td>
        <td><%= challenge.start_at %></td>
        <td><%= challenge.end_at %></td>
        <td><%= challenge.description %></td>
        <td><%= link_to 'Edit', edit_admin_challenge_path(challenge) %></td>
        <td><%= link_to 'Destroy', admin_challenge_path(challenge), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Challenge', new_admin_challenge_path %>
