<div class="challenge">
  <div class="row">

    <% if @current_challenge %>

      <div class="col-xs-3">
        <% if @user_register_challenge.registered? %>
          Current challenge:
          <h1><%= @current_challenge.title %></h1>
        <% else %>
          <h1>(Topic to be Revealed)</h1>
        <% end %>
        <%= @current_challenge.participations.count %> artists participating<br/>
        <%= @current_challenge.entries.count %> artists submitted
      </div>

      <div class="col-xs-6">
        <div class="countdown_timer text-center">
          <timer end-time="<%=@current_challenge.end_at.to_i * 1000-%>">
            <span ng-hide="days === 0 && hours === 0 && minutes === 0 && seconds === 0"></span>



              <div class="countdown hasCountdown" id="defaultCountdown">

                <span class="countdown_row">
                  <span class="countdown_label">Time left to submit:</span>
                  <br>
                  <span ng-show="days > 0" class="countdown_section">
                    <span class="countdown_amount">{{days}}</span>
                    <br>Days
                  </span>

                  <span class="countdown_section"><span class="countdown_amount">{{hours}}</span><br>Hours</span>


                  <span class="countdown_section"><span class="countdown_amount">{{minutes}}</span><br>Minutes</span>

                  <span class="countdown_section"><span class="countdown_amount">{{seconds}}</span><br>Seconds</span>


                </span>
              </div>


            <span ng-show="days === 0 && hours === 0 && minutes === 0 && seconds === 0">
              Times Up!  <%= link_to('Go Vote!', voting_path) %>
            </span>
          </timer>
        </div>
      </div>

      <div class="col-xs-3">
        <% if @user_register_challenge.registered? %>
          <% if @current_user.submitted_for_challenge?(@current_challenge) %>
              <!-- tanks for submitting? -->
              <%= link_to('Your entry', challenge_manage_entry_edit_path, class: 'btn btn-info pull-right') %>
          <% else %>
              <%= link_to('Submit your entry', challenge_manage_entry_edit_path, class: 'btn btn-success pull-right') %>
           <% end %>
        <% else %>
          <%= link_to('Participate in Mystery Topic', new_challenge_registration_path, class:'btn btn-danger pull-right') %>
        <% end %>

      </div>


    <% else %>
       <div class="alert fade in alert-danger ">Uh oh!  Looks like Administration forgot to schedule a current challenge!</div>
    <% end %>

  </div>
</div>