<h1>Manage Challenge Entry</h1>

<p>This image will be uploaded to your facebook photos and will appear on your timeline.</p>

<div class="form_container">
  <input id="source" type="file" name="file">
  <% if @participation.image_url.present? %>
    <%= image_tag(@participation.image_url, id: 'preview', style:'max-width:600px') %>
  <% end %>

<%= form_for(@participation, url: challenge_manage_entry_update_url) do |f| %>
  <div>
    Title: <br/><%= f.text_field :title %>
  </div>
  <div>
    Description:</br> <%= f.text_area :description %>
  </div>
  <%= f.hidden_field :image_url %>
<% end %>

<button onclick="submit()" id="submit_button" class="btn btn-success">Submit</button>
</div>

<script type="text/javascript">

  var blob = '';


  function dataURItoBlob(dataURI) {

    var type = dataURI.split(':')[1].split(';')[0];
    var byteString = atob(dataURI.split(',')[1]);
    var ab = new ArrayBuffer(byteString.length);
    var ia = new Uint8Array(ab);
    for (var i = 0; i < byteString.length; i++) {
        ia[i] = byteString.charCodeAt(i);
    }
    return new Blob([ab], { type: type });
  }

  $('#source').click( function(){ 
    console.log("holaaa"); 
    console.log(this.files);
    });

  $('#source').change(function() {
    var fileList = this.files;
    var file = fileList[0];
    var r = new FileReader();
    r.onload = function(e){
      blob = dataURItoBlob(r.result);
      $('#preview').attr('src', e.target.result);
    };
    r.readAsDataURL(file);
   });


  var submit = function() {

    $('#submit_button').prop("disabled",true).after(' uploading...');

    var authToken = FB.getAccessToken();

    var fd = new FormData();
    fd.append("access_token",authToken);
    fd.append("source", blob);
    fd.append("message",$('#participation_title').val());
    // fd.append("no_story", true);

    $.ajax({
      url:"https://graph.facebook.com/me/photos",
      type:"POST",
      data:fd,
      processData:false,
      contentType:false,
      cache:false,
      success:function(data){
        console.log('this is what we get back from facebook after photo upload');
        console.log(data);

        //get permalink using upload response id
        FB.api(data.id, function(response) {
          console.log(response.source);
          $('#participation_image_url').val(response.source);
          $('.edit_participation').submit();
        });
      },
      error:function(shr,status,data){
          console.log("error " + data + " Status " + shr.status);
      },
      complete:function(){
        console.log("Posted to facebook");
      }
    });
  }; // end submit

</script>
